{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="container_fluid flex gap-6 mt-[20px]">

    {% if messages %}
    {% for message in messages %}
    <div id="flash-message"
        class="fixed left-[50%] translate-x-[-50%] top-[53px]  bg-green-600 text-white rounded-lg p-2 z-50">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}

    <div class="w-[225px] h-[215px] bg-white rounded-lg">
        {% for profile in profile %}
        <div class="flex flex-col h-auto items-center justify-center">
            <a href="{% url 'profile' %}" class="w-full h-[60px] bg-gray-100">
                <img class="w-[225px] h-auto rounded-t-lg object-cover" src="{{ profile.profilBanner.url }}" alt="">
            </a>

            <div class="w-[225px] h-auto bg-white rounded-b-lg px-2 pt-2 relative text-center pb-2">
                <img style="border: 2px dashed #AEBFCE;"
                    class="bg-[#E7E2DC] w-[68px] h-[68px] rounded-full top-[-28px] left-[20px] absolute object-cover"
                    src="{{ profile.img.url }}" alt="">

                    <a href="{%  url 'img/edit' %}">
                        <button
                            class="w-[24px] h-[24px] bg-[#0A66C2] rounded-full absolute top-[20px] right-[132px] text-white flex items-center justify-center">
                            <i class="fa-solid fa-plus text-[15px]"></i>
                        </button>
                    </a>
                <div class="mt-8 text-left">
                    <h2 class="text-[20px] font-semibold pt-4">{{ profile.fullname }} 10ta tanga</h2>
                    <p class="text-[12px] text-gray-500">{{ profile.location }}</p>
                    <p class="text-[12px] text-blue-500 mt-4">{{ profile.bio }}</p>
                </div>
            </div>
        </div>
        {% endfor %}





        <div class="w-[225px]  rounded-lg bg-white mt-6 p-4 flex  justify-between">
            <div class="text-[12px]">
                <span class="text-[#000] font-bold">Connections</span> <br>
                <span class="text-gray-300 font-bold">Grow your network</span>
            </div>
            <div>
                <i class="text-[14px] fa-solid fa-user-plus"></i>
            </div>
        </div>

        <div class="w-[225px]  rounded-lg bg-white mt-2 p-4">
            <div class="text-[12px]">
                <span class="text-gray-300 font-bold">Unlock Premium tools & insights</span>
            </div>
            <div class="flex gap-2 items-center mt-2">
                <svg width="13" height="13" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                    <defs>
                        <clipPath id="round-corner">
                            <rect width="100" height="100" rx="20" ry="20" />
                        </clipPath>
                    </defs>
                    <g clip-path="url(#round-corner)">
                        <rect width="100" height="100" fill="#E3A24F" />
                        <polygon points="0,0 100,0 100,100" fill="#F7D08A" />
                    </g>
                </svg>
                <span class="text-[12px] font-bold hover:text-[#0562BC] cursor-pointer">Try Premium for $0</span>
            </div>
        </div>

        <div class="w-[225px] p-[16px] bg-white rounded-lg mt-2">
            <div class="flex items-center gap-2 text-sm font-semibold mb-3">
                <i class="text-[14px] fa-solid fa-bookmark"></i>
                <a href="#" class="hover:underline text-[14px]">Saved items</a>
            </div>
            <div class="flex items-center gap-2 text-sm font-semibold mb-3">
                <i class="text-[14px] fa-solid fa-users"></i>
                <a href="#" class="hover:underline text-[14px]">Groups</a>
            </div>
            <div class="flex items-center gap-2 text-sm font-semibold mb-3">
                <i class="text-[14px] fa-solid fa-newspaper"></i>
                <a href="#" class="hover:underline text-[14px]">Newsletters</a>
            </div>
            <div class="flex items-center gap-2 text-sm font-semibold">
                <i class="text-[14px] fa-solid fa-calendar"></i>
                <a href="#" class="hover:underline text-[14px]">Events</a>
            </div>
        </div>


    </div>


    <div class="">

        <div class="w-[555px] bg-white p-4 rounded-lg mb-[8px]">
            <div class="w-full flex gap-4">
                {% for profile in profile %}
                <img class="flex items-center justify-center w-[48px] h-[48px] rounded-full border border-2z  border-white object-cover"
                    src="{{ profile.img.url }}" alt="">
                {% endfor %}
                <input type="text" placeholder="Start a post" class="w-full px-6 border border-[#b2b2b2] rounded-full">
            </div>
            <div class="flex justify-around mt-2 items-center">
                <button class="flex gap-1 items-center"><i class="fa-brands fa-youtube text-[20px] text-[#5f9b41]"></i>
                    Video</button>

                <input type="checkbox" id="modal-toggle" class="hidden peer">
                <label for="modal-toggle" class="flex gap-1 items-center hover:cursor-pointer">
                    <i class="fa-solid fa-image text-[18px] text-[#378fe9]"></i> Photo
                </label>

                <div class="fixed inset-0 bg-black bg-opacity-50 hidden peer-checked:flex justify-center items-center">
                    <div class="bg-white p-6 rounded-lg shadow-lg w-80 relative">
                        <label for="modal-toggle"
                            class="absolute top-3 right-3 text-red-500 text-xl cursor-pointer">&times;</label>
                        <h2 class="text-lg font-semibold mb-4">Rasm tanlang</h2>

                        <form method="POST" enctype="multipart/form-data" class="flex flex-col items-center">
                            {% csrf_token %}
                            <label for="rasm_input"
                                class="w-full h-auto border-2 border-dashed border-gray-400 flex flex-col justify-center items-center bg-gray-50 rounded-lg cursor-pointer hover:border-blue-500 transition relative overflow-hidden">
                                <span class="text-gray-600 h-40 flex items-center justify-center" id="label-text">Rasm
                                    tanlang</span>
                                <img id="preview" class="hidden rounded-lg">
                                <input type="file" id="rasm_input" name="image" class="hidden" accept="image/*">
                            </label>

                            <input type="text" name="text" placeholder="Post haqida yozing..."
                                class="w-full border p-2 rounded mb-3 mt-4 outline-none">

                            <button type="submit"
                                class="mt-4 bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700 transition">Postni
                                yaratish</button>
                        </form>
                    </div>
                </div>

                <script>
                    let input = document.getElementById("rasm_input");
                    let preview = document.getElementById("preview");
                    let labelText = document.getElementById("label-text");
                    let captionInput = document.getElementById("caption_input");

                    input.onchange = function () {
                        let file = input.files[0];
                        if (file && file.type.startsWith("image/")) {
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                preview.src = e.target.result;
                                preview.classList.remove("hidden");
                                labelText.style.display = "none";
                                preview.style.width = "100%";
                                preview.style.height = "100%";
                                captionInput.classList.remove("hidden");
                            };
                            reader.readAsDataURL(file);
                        }
                    };
                </script>


                <button class="flex gap-1 items-center"><i class="fa-solid fa-newspaper text-[18px] text-[#e06847]"></i>
                    Write article</button>
            </div>
        </div>

        <div class="flex items-center justify-center">
            <hr class="flex-grow h-[0.1rem] mr-2 my-auto border-[#bebdba] bg-[#dfdeda]">
            <label class="w-[62px] flex text-sm text-left text-gray-600">Sort by:</label>
            <select class="text-sm font-semibold bg-transparent cursor-pointer outline-none">
                <option>Top</option>
                <option>Recent</option>
            </select>
        </div>

        <div class="space-y-2 mt-3">
            {% for post in posts %}
            <div class="w-[555px] mx-auto bg-white  rounded-lg">
                <div class="flex items-center justify-between text-gray-600 text-sm py-4 border-b px-4">
                    <div class="flex items-center gap-2">
                        <h3 class="text-sm text-[#666]">Suggested</h3>
                    </div>
                    <div class="flex items-center gap-2 w-[80px]">
                        <div class="absolute left-[62%] ">
                            <i class="fa-solid text-[20px] fa-ellipsis cursor-pointer text-black hover:text-gray-700 transition-all duration-200 ease-in-out "
                                onclick="toggleDelete({{ post.id }})"></i>
                        </div>
                        <div class="flex flex-col items-center  mt-4">
                            <div class="relative w-full h-auto">
                                <form action="{% url 'delete_post' post.id %}" method="POST" id="delete-{{ post.id }}"
                                    class="absolute bg-red-600 text-white text-sm px-4 py-1 rounded-md shadow-lg hidden transition-all duration-200 ease-in-out hover:bg-red-700 transition">
                                    {% csrf_token %}
                                    <button type="submit" class="w-[55px] flex items-center gap-1">🗑 Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                {% for profile in profile %}
                <div class="flex items-center justify-between  px-[14px] mt-2">
                    <div class="flex items-center space-x-3">
                        <img src="{{ profile.img.url }}" alt="VS Code" class="w-12 h-12 rounded-full object-cover">
                        <div>
                            <h1 class="text-xl font-bold">{{ profile.fullname }}</h1>
                            <p class="text-gray-600 text-sm">36,452 followers • 1w</p>
                        </div>
                    </div>
                    <button class="text-blue-500 font-semibold">+ Follow</button>
                </div>

                {% if post.text %}
                <p class="mt-2 text-gray-700 text-[18px] px-[14px]">{{ post.text }}</p>
                {% endif %}
                {% endfor %}

                <img src="{{ post.image.url }}" alt="Post rasmi" class="w-full h-auto object-cover">

                <div class="relative flex justify-between items-center mt-4 text-gray-600">
                    <div class="absolute w-full flex items-center justify-between px-4">
                        <div class="flex items-center">
                            <span class="text-blue-500"><i class="fa-regular fa-thumbs-up"></i> <i
                                    class="fa-solid fa-heart text-red-500"></i> </span>
                            <span> 2,216</span>
                        </div>
                        <span class="flex items-center">41 comments • 139 reposts</span>
                    </div>
                </div>


                <div class="flex justify-around mt-4 border-t pt-4">
                    <button class="px-4 py-2 rounded-md hover:bg-gray-300"><i class="fa-regular fa-thumbs-up"></i>
                        Like</button>
                    <button class="px-4 py-2 rounded-md hover:bg-gray-300"><i class="fa-solid fa-comment-dots"></i>
                        Comment</button>
                    <button class="px-4 py-2 rounded-md hover:bg-gray-300"><i class="fa-solid fa-repeat"></i>
                        Repost</button>
                    <button class="px-4 py-2 rounded-md hover:bg-gray-300"><i class="fa-solid fa-paper-plane"></i>
                        Send</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>



    <div class="">
        <div class="w-[300px] py-3  bg-white rounded-lg ">
            <h2 class="font-semibold text-[14px] mb-2 ml-4">Off-topic games</h2>
            <div class=" px-[26px]">
                <div class="flex items-center justify-between py-1">
                    <a href="{% url 'snake-game' %}" class="flex items-center gap-2">
                        <img src="{% static 'img/snake-game.png' %}" class="w-8 h-8 rounded-[5px]" alt="">
                        <div>
                            <p class="text-[13px] font-semibold">Snake game</p>
                            <p class="text-[11px] text-gray-500">Feed the snake</p>
                        </div>
                    </a>
                    <i class="fa-solid fa-chevron-right text-gray-400"></i>
                </div>

                <div class="flex items-center justify-between py-1">
                    <a href="{% url 'car-game' %}" class="flex items-center gap-2">
                        <img src="{% static 'img/Car-game-logo.png' %}"
                            class="w-8 h-8 border border-2 border-black rounded-[5px]" alt="">
                        <div>
                            <p class="text-[13px] font-semibold">CarGame</p>
                            <p class="text-[11px] text-gray-500">Protect the machine from obstacles</p>
                        </div>
                    </a>
                    <i class="fa-solid fa-chevron-right text-gray-400"></i>
                </div>

                <div class="flex items-center justify-between py-1">
                    <a href="{% url 'ladder-snake' %}" class="flex items-center gap-2">
                        <img src="{% static 'img/Car-game-logo.png' %}"
                            class="w-8 h-8 border border-2 border-black rounded-[5px]" alt="">
                        <div>
                            <p class="text-[13px] font-semibold">Ilon va Narvon Oyini</p>
                            <p class="text-[11px] text-gray-500">Protect the machine from obstacles</p>
                        </div>
                    </a>
                    <i class="fa-solid fa-chevron-right text-gray-400"></i>
                </div>
            </div>

        </div>

        <div class="w-[300px] mt-2 p-4 bg-white rounded-lg ">
            <div class="flex justify-between items-center mb-3">
                <h2 class="font-semibold text-[14px]">Add to your feed</h2>
                <i class="fa-solid fa-circle-info text-gray-400 text-sm"></i>
            </div>


            <div class="flex items-center gap-3 mb-3">
                <img src="{% static 'img/it_compania.jpeg' %}" class="w-12 h-12 rounded-full" alt="Profile">
                <div class="flex-1">
                    <p class="text-[13px] font-semibold">IT Community of Uzbekistan</p>
                    <p class="text-[11px] text-gray-500">Company • Technology, Information and Internet</p>
                    <button class="w-[97px] mt-1 py-1 border-2 border-[#000] rounded-full text-sm font-semibold">+
                        Follow</button>
                </div>
            </div>

            <div class="flex items-center gap-3 mb-3">
                <img src="{% static 'img/achkili_chol.jpeg' %}" class="w-12 h-12 rounded-full" alt="Profile">
                <div class="flex-1">
                    <p class="text-[13px] font-semibold flex items-center">
                        Bill Gates <i class="fa-brands fa-linkedin text-blue-600 text-xs ml-1"></i>
                    </p>
                    <p class="text-[11px] text-gray-500">Chair, Gates Foundation and Founder, Breakthrough Energy</p>
                    <button class="w-[97px] mt-1 py-1 border-2 border-[#000] rounded-full text-sm font-semibold">+
                        Follow</button>
                </div>
            </div>

            <div class="flex items-center gap-3 mb-3">
                <img src="{% static 'img/hayolparaz.jpeg' %}" class="w-12 h-12 rounded-full" alt="Profile">
                <div class="flex-1">
                    <p class="text-[13px] font-semibold">Shavkat Karimov</p>
                    <p class="text-[11px] text-gray-500">Head of IT Community of Uzbekistan | Keynote Speaker | SEO
                        Executive | ex-...</p>
                    <button class="w-[97px] mt-1 py-1 border-2 border-[#000] rounded-full text-sm font-semibold">+
                        Follow</button>
                </div>
            </div>

            <a href="#" class="text-[13px] font-semibold block mt-2">View all recommendations →</a>
        </div>

    </div>

</div>

<script>
    function toggleDelete(postId) {
        let deleteButton = document.getElementById("delete-" + postId);
        deleteButton.classList.toggle("hidden");
    }

    setTimeout(function () {
        let msg = document.getElementById("flash-message");
        msg.classList.add("opacity-0");
        setTimeout(() => msg.remove(), 500)
    }, 2000);
    function toggleDelete(postId) {
        let deleteButton = document.getElementById("delete-" + postId);
        deleteButton.classList.toggle("hidden");
    }
</script>


{% endblock %}




<!-- https://static.licdn.com/aero-v1/sc/h/55k1z8997gh8dwtihm11aajyq -->