{% extends 'base.html' %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div id="flash-message"
    class="fixed left-[50%] translate-x-[-50%] top-[53px]  bg-green-600 text-white rounded-lg p-2 z-50">
    {{ message }}
</div>
{% endfor %}
{% endif %}

<div class="flex items-center flex-col justify-center h-screen bg-[#4ea4d2]">
    <h1 class="text-2xl font-semibold text-gray-800">You have successfully logged out.</h1>

    <a class=" cursor-pointer mt-6  px-12 py-2 inline-block bg-green-700 flex items-center justify-center gap-2 text-white font-semibold rounded-lg"
        href="{% url 'login' %}">
        <i class="fa-solid fa-user"></i>
        Login
    </a>
</div>


<script>
    setTimeout(function () {
        let msg = document.getElementById("flash-message");
        msg.classList.add("opacity-0");
        setTimeout(() => msg.remove(), 500)
    }, 2000);
    function toggleDelete(postId) {
        let deleteButton = document.getElementById("delete-" + postId);
        deleteButton.classList.toggle("hidden");
    }
</script>
{% endblock %}