{% extends 'base.html' %}

{% load static %}
{% block content %}

<div class="bg-gray-100">
    <div class="max-w-4xl mx-auto bg-white shadow-lg rounded-lg overflow-hidden mt-10">
        <div class="relative">
            <img src="{% static 'img/acaunt_bg_img.svg' %}" alt="Cover" class="w-full h-40 object-cover">
            <i style="border: 2px dashed #AEBFCE;" class="bg-[#E7E2DC] flex items-center justify-center text-[65px] text-[#788FA5] w-[128px] h-[128px] rounded-full absolute bottom-[-35px] left-[20px] fa-solid fa-user" ></i> 
        </div>
        <div class="p-6 mt-4">
            <div class="flex items-center gap-3">
                <h2 class="text-xl font-bold">Shodiyorbek Qambaraliyev </h2>
                <button class="flex items-center border border-dashed border-blue-500 text-blue-500 px-4 py-[2px] rounded-full hover:bg-blue-100 text-[12px]">
                    <i class="fa-solid fa-calendar-check mr-1"></i>
                Add verification badge
                </button>
            </div>
            <p class="text-black">IT Manager at IT House</p>
            <p class="text-gray-500 text-[12px]">Poytug‘, Andijan Region, Uzbekistan •</p>
            <div class="mt-4 flex gap-2">
                <button class="bg-blue-600 text-white px-4 py-2 rounded">Open to</button>
                <button class="border px-4 py-2 rounded">Add profile section</button>
                <button class="border px-4 py-2 rounded">Enhance profile</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}